body{
	width: 100%;
	margin: 0;
	padding: 0;
}

.contenedor{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	position: relative;
}

.kitten{
    position: absolute;
    top: 280px;
}
